<ion-header *ngIf="isHome">
  <ion-toolbar color="danger">
    <!-- <ion-buttons class="ion-padding-start"> -->
      <!-- <ion-icon name="arrow-back" size="large" role="button" *ngIf="isHome" onclick="history.back()"></ion-icon> -->
      <!-- <ion-title class="fs-3">Loadshedding</ion-title> -->
    <!-- </ion-buttons> -->
    <ion-title class="fs-3">Loadshedding</ion-title>
    <ion-buttons slot="end" role="button" class="ion-padding-end">
      <!-- <ion-icon name="settings" size="large"></ion-icon> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>