<ion-header>
  <ion-toolbar mode="ios">
    <ion-title style="font-size: 28px">Area</ion-title>
    <ion-buttons (click)="presentAlertConfirm()" slot="end" class="helpBTN">
      <ion-icon slot="end" name="help-circle-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing" onclick="history.back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      showCancelButton="focus"
      [formControl]="searchField"
      class="searchbar"
      (ngModelChange)="searchVolume()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="none">
    <!-- <ion-item *ngFor=" let area of areas"> -->
    <!-- <ion-label>{{ area.name }}</ion-label> -->
    <ion-item *ngFor="let area of areas">
      <ion-label>{{ area.Name }}</ion-label>
      <ion-label>{{ area.MunicipalityName }}</ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="areas.length === 0" class="noArea">
    <ion-text color="primary">
      <div class="location">
        <ion-icon name="location-outline"></ion-icon>
      </div>
      <h1>Search for your area</h1>
    </ion-text>
  </div>
</ion-content>
