.helpBTN {
  font-size: 32px;
  color: red;
}

.location {
  font-size: 48px;
}

.noArea {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.searchbar {
  margin: 10px 0;
}
